* {
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC';
}

body {
    background-color: white;
}

.contenedor {
    display: grid;
    height: 100vh;
    grid-template-areas: "header header"
        "nav nav"
        "main main"
        "footer footer";
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    background-color: #231f20;
    padding: 1%;

}

header h1 {
    text-align: center;
    font-size: 5rem;
    color: white;
    letter-spacing: 1rem;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    background-color: #7ebdc2;
    position: sticky;
    top: 0;

}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    border-radius: 10%;
    margin: 5rem;
    font-size: 3rem;
    background-color: #7ebdc2;
    font-weight: 600;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    margin: 5%;
}

.remeras img {
    margin: 10px;
    width: 30rem;
    height: 30rem;
}

.zapatillas img {
    margin: 10px;
    height: 30rem;
    width: 30rem;
}

.remeras p {
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: #7ebdc2;
}

.zapatillas p {
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: #7ebdc2;

}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
}

footer p {
    font-size: 2rem;
    margin: 5%;
    background-color: #7ebdc2;
    color: black;
}

@media screen and (max-width: 768px) and (min-width:320px) {
    main {
        flex-direction: column;
    }

    .zapatillas img {
        margin: 10px;
        height: 40rem;
        width: 43rem;
    }

    .remeras img {
        margin: 10px;
        width: 43rem;
        height: 30rem;
    }

    body {
        background-color: #1c89df;
    }

    header {
        background-color: #849dee;
        color: white;
    }

    nav ul li a {
        background-color: #f2d3ff;
        color: white;
    }

    .remeras p {
        background-color: #f2d3ff;
    }

    .zapatillas p {
        background-color: #f2d3ff;
    }

    footer p {
        background-color: #f2d3ff;
    }
}

main form {
    width: 700px;
    height: 300px
}

.form {
    padding: 2%;
    color: black;
    background-color: #f3dfa2;
    font-size: 2.5rem;
}

.formName {
    margin: 10px;
}

.formName>input {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

.formEmail>input {
    height: 40px;
    width: 98%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

label {
    display: block;
}

.textAreaContacto>textarea {
    width: 97%;
    height: 50%;
    padding: 1%;
}

.selectPais {
    height: 2%;
    width: 98%;
    padding: 1%;
    margin: 10px;
    box-sizing: border-box;
    justify-content: center;
}

.fooContacto {
    margin: 15%;
}

.btn {
    width: 15%;
    border: 0.3rem solid black;
    font-size: 2rem;
}

@media screen and (max-width: 768px) and (min-width:320px) {
    .fooContacto {
        margin: 15%;
    }

    .form {
        background-color: #cadda3;
    }

    main form {
        width: 650px;
        height: 300px
    }
}

.mainProd .galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}

.mainProd img {
    flex-wrap: wrap;
    margin: 10px;
    height: 20rem;
    width: 20rem;
}

.logo {
    border-radius: 50%;
    width: 60%;
}

.slogan {
    font-size: 3 rem;
}

.contImgSlog {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 100vh;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    letter-spacing: 0.1rem;
}